In [1]:
# import Dependencies
import pandas as pd 
import gmaps 
import requests

#import Api Keys 
from config import g_key

In [2]:
# store the csv you saved created in part one into a dataframe 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pevek,RU,2022-02-02 04:16:15,69.7008,170.3133,-6.56,78,100,2.80
1,1,Kodiak,US,2022-02-02 04:16:15,57.7900,-152.4072,36.91,87,100,10.36
2,2,Rudovci,RS,2022-02-02 04:16:16,44.3801,20.4051,30.34,93,48,4.05
3,3,Cocachacra,PE,2022-02-02 04:16:16,-17.0883,-71.7575,69.60,84,62,4.72
4,4,Rikitea,PF,2022-02-02 04:15:37,-23.1203,-134.9692,78.39,69,93,4.90
5,5,Port Alfred,ZA,2022-02-02 04:13:21,-33.5906,26.8910,77.36,74,98,7.54
6,6,Gragnano,IT,2022-02-02 04:16:17,40.6956,14.5123,45.25,75,2,4.83
7,7,Kapaa,US,2022-02-02 04:12:13,22.0752,-159.3190,76.98,74,75,1.99
8,8,Busselton,AU,2022-02-02 04:16:18,-33.6500,115.3333,85.05,33,37,11.01
9,9,Arraial Do Cabo,BR,2022-02-02 04:16:18,-22.9661,-42.0278,75.69,87,100,7.34

In [3]:
# to use data in gmaps - the data needs to be an integer or a floating point decimal number . 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# To create maximum temperature heatmap

#configure gmaps to use you google api key 
gmaps.configure(api_key = g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center =(30.0,31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating =False, max_intensity = 300,point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#To create percent humidity heatmap

#to get the latitude and longitudes
locations = city_data_df[["Lat","Lng"]]

#to get the humidity 
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center= (30.0,31.0),zoom_level=1.5)

#to set the heatmap variable 
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating = False, max_intensity=300, point_radius = 4)

#add the heatmap_layer
fig.add_layer(heat_layer)

#call the fig to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#To create  percent cloudiness heatmap 

#set the variable to get latitude abd longitude values 
locations = city_data_df[["Lat","Lng"]]

#set the variable to get Cloudiness values
clouds = city_data_df["Cloudiness"]

#set the variable for figure
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#set the heatmap variable 
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

#to plot the heatmap .
fig.add_layer(heat_layer)

#Call the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# To create a wind speed heatmap

locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig= gmaps.figure(center=(30.0,31.0),zoom_level =1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,dissipating = False, max_intensity = 300,point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
#To get the vacation criteria
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2022-02-02 04:15:37,-23.1203,-134.9692,78.39,69,93,4.90
5,5,Port Alfred,ZA,2022-02-02 04:13:21,-33.5906,26.8910,77.36,74,98,7.54
7,7,Kapaa,US,2022-02-02 04:12:13,22.0752,-159.3190,76.98,74,75,1.99
8,8,Busselton,AU,2022-02-02 04:16:18,-33.6500,115.3333,85.05,33,37,11.01
9,9,Arraial Do Cabo,BR,2022-02-02 04:16:18,-22.9661,-42.0278,75.69,87,100,7.34
12,12,Hithadhoo,MV,2022-02-02 04:12:06,-0.6000,73.0833,82.81,70,9,10.85
13,13,Hambantota,LK,2022-02-02 04:16:19,6.1241,81.1185,79.81,62,42,11.72
19,19,Alyangula,AU,2022-02-02 04:16:22,-13.8483,136.4192,87.67,63,100,11.72
21,21,Lekoni,GA,2022-02-02 04:16:22,-1.5843,14.2591,76.42,74,94,3.31
28,28,Vaini,TO,2022-02-02 04:16:26,-21.2000,-175.2000,84.36,74,20,5.75

In [36]:
#To determine any null values in the DF . 
preferred_cities_df.count()
#preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4           Rikitea      PF     78.39 -23.1203 -134.9692
5       Port Alfred      ZA     77.36 -33.5906   26.8910
7             Kapaa      US     76.98  22.0752 -159.3190
8         Busselton      AU     85.05 -33.6500  115.3333
9   Arraial Do Cabo      BR     75.69 -22.9661  -42.0278
12        Hithadhoo      MV     82.81  -0.6000   73.0833
13       Hambantota      LK     79.81   6.1241   81.1185
19        Alyangula      AU     87.67 -13.8483  136.4192
21           Lekoni      GA     76.42  -1.5843   14.2591
28            Vaini      TO     84.36 -21.2000 -175.2000

In [46]:
#To set a parameter to search for a hotel 
params = {"radius" : 5000, "type": "Lodging","key":g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found ...Skipping")

In [47]:
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng   Hotel Name
4           Rikitea      PF     78.39 -23.1203 -134.9692      Rikitea
5       Port Alfred      ZA     77.36 -33.5906   26.8910  Port Alfred
7             Kapaa      US     76.98  22.0752 -159.3190       Kapaʻa
8         Busselton      AU     85.05 -33.6500  115.3333    Busselton
9   Arraial Do Cabo      BR     75.69 -22.9661  -42.0278    Cabo Frio
12        Hithadhoo      MV     82.81  -0.6000   73.0833    Addu City
13       Hambantota      LK     79.81   6.1241   81.1185   Hambantota
19        Alyangula      AU     87.67 -13.8483  136.4192    Alyangula
21           Lekoni      GA     76.42  -1.5843   14.2591       Lekoni
28            Vaini      TO     84.36 -21.2000 -175.2000   Nukuhetulu

In [58]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center= (30.0,31.0), zoom_level= 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer= gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
#can add a pop-up marker for each city that displays the hotel name,
#city name, country, and maximum temperature.

#vairable assigned ot multiple line string 
info_box_template = """

#Adding the description list 
<dl>
#Adding description term and description definition
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country Code</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))